
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <script>

var navbarCollapse = function () {
        if ($("#mainNav").offset().top > 100) {
            $("#mainNav").addClass("navbar-shrink");
        } else {
            $("#mainNav").removeClass("navbar-shrink");
        }
    };
        </script>
        <a class="navbar-brand js-scroll-trigger" href="https://sketchfab.com/models/d01b254483794de3819786d93e0e1ebf/embed?">360 view</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Select Paint</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="file:///C:/Users/Sahil%20Kohad/Desktop/New%20folder%20(3)/index.html">Interior</a></li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Select Model
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Audi</a>
                          <a class="dropdown-item" href="#">Bmw</a>
                          <a class="dropdown-item" href="#">Toyota</a>
                        </div></div>
                     
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contact</a></li>
                
                <li>
                    
                </li>
            </ul>
        </div>
        
        
    </div>
</nav>

