<div class="row justify-content-center no-gutters">
    <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="" /></div>
    <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right">
                    <h4 class="text-white">Spoilers</h4>
                    <p class="mb-0 text-white-50"></p>
                    <hr class="d-none d-lg-block mb-0 mr-0" />

                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Select Spoiler Brand
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Toyo</a>
                        <a class="dropdown-item" href="#">STYMARKO</a>
                        <a class="dropdown-item" href="#">Apr Performance</a>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
