<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
    <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="" /></div>
    <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Rims</h4>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Choose Rim Brand
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="https://images.cdn.circlesix.co/image/1/640/0/uploads/posts/2016/02/bc25c0ed517507215d95c83e05ea9906.jpg">BBS</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    <p class="mb-0 text-white-50"></p>
                    <hr class="d-none d-lg-block mb-0 ml-0" />
                </div>
            </div>
        </div>
    </div>
</div>